doctype html
html
  head
    title
      神秘大亨 #{name} 逼迫美联储降息，资本回流大陆，令美帝阴谋破产。
    meta(name="viewport",content="initial-scale=2.0,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/h5/daheng.css')
    script(src='/javascripts/jquery.min.js')
    script(src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    img.banner(src='/images/daheng/banner.png')
    div.box
      div.daheng_title
        神秘大亨 #{name} 逼迫美联储降息，资本回流大陆，令美帝阴谋破产。
      blockquote
        最新消息，在美联储刚刚加息坐等榨干全世界劳动者的劳动成果的时候，来自大陆地区的神秘大亨 #{name} 成功逼迫美联储降息，资本回流大陆，令美帝阴谋破产。因此事件影响，奥马巴已经提出辞职要求。
      p.txt_right='BiBiC中文网报道'
      div.full
        img(src='/images/daheng/logo.png')
      p
        本新闻由用户使用BiBiC自动生成，仅供娱乐，特此声明。
    div.full
      a.btn.btn-default(href='/h5/daheng')
        制作我的新闻页面
      p
    img.hide(src='http://img.users.51.la/18720145.asp')
    script(src='/javascripts/h5/daheng.js')
